

// $body-bg:#000;
// $body-color:#111;


$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1240px,
  xxl: 1240px
);




//bootstrap and its default variables
@import "bootstrap/scss/bootstrap";